In [1]:
import pandas as pd

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('users.dat', sep='::', header=None, names=unames)

rating_names = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ratings.dat',sep='::', header=None, names=rating_names)

movie_names = ['movie_id','title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None, names=movie_names)

print(users[:3])
print(ratings[:3])
print(movies[:3])

/Users/lalo/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
/Users/lalo/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
   movie_id                    title                        genres
0         1         Toy Story (1995)   Animation|Children's|Comedy
1         2           Jumanji (1995)  Adventure|Children's|Fantasy
2         3  Grumpier Old Men (1995)                Comedy|Romance

/Users/lalo/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
data_set = pd.merge(pd.merge(ratings, users), movies)
data_set
data_set.ix[0]

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [6]:
mean_rating = data_set.pivot_table('rating', columns='gender', aggfunc='mean')
mean_rating[:5]

gender
F    3.620366
M    3.568879
Name: rating, dtype: float64

In [10]:
ratings_by_title = data_set.groupby('title').size()
ratings_by_title[:10]

active_titles = ratings_by_title.index[ratings_by_title >= 250]
active_titles

Index([u''burbs, The (1989)', u'10 Things I Hate About You (1999)',
       u'101 Dalmatians (1961)', u'101 Dalmatians (1996)',
       u'12 Angry Men (1957)', u'13th Warrior, The (1999)',
       u'2 Days in the Valley (1996)', u'20,000 Leagues Under the Sea (1954)',
       u'2001: A Space Odyssey (1968)', u'2010 (1984)',
       ...
       u'X-Men (2000)', u'Year of Living Dangerously (1982)',
       u'Yellow Submarine (1968)', u'You've Got Mail (1998)',
       u'Young Frankenstein (1974)', u'Young Guns (1988)',
       u'Young Guns II (1990)', u'Young Sherlock Holmes (1985)',
       u'Zero Effect (1998)', u'eXistenZ (1999)'],
      dtype='object', name=u'title', length=1216)

In [19]:
mean_ratings = mean_rating.ix[active_titles]
mean_ratings

title
'burbs, The (1989)                                                   NaN
10 Things I Hate About You (1999)                                    NaN
101 Dalmatians (1961)                                                NaN
101 Dalmatians (1996)                                                NaN
12 Angry Men (1957)                                                  NaN
13th Warrior, The (1999)                                             NaN
2 Days in the Valley (1996)                                          NaN
20,000 Leagues Under the Sea (1954)                                  NaN
2001: A Space Odyssey (1968)                                         NaN
2010 (1984)                                                          NaN
28 Days (2000)                                                       NaN
39 Steps, The (1935)                                                 NaN
54 (1998)                                                            NaN
7th Voyage of Sinbad, The (1958)                                     NaN
8MM (1999)                                                           NaN
About Last Night... (1986)                                           NaN
Absent Minded Professor, The (1961)                                  NaN
Absolute Power (1997)                                                NaN
Abyss, The (1989)                                                    NaN
Ace Ventura: Pet Detective (1994)                                    NaN
Ace Ventura: When Nature Calls (1995)                                NaN
Addams Family Values (1993)                                          NaN
Addams Family, The (1991)                                            NaN
Adventures in Babysitting (1987)                                     NaN
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)   NaN
Adventures of Priscilla, Queen of the Desert, The (1994)             NaN
Adventures of Robin Hood, The (1938)                                 NaN
African Queen, The (1951)                                            NaN
Age of Innocence, The (1993)                                         NaN
Agnes of God (1985)                                                  NaN
                                                                      ..
White Men Can't Jump (1992)                                          NaN
Who Framed Roger Rabbit? (1988)                                      NaN
Who's Afraid of Virginia Woolf? (1966)                               NaN
Whole Nine Yards, The (2000)                                         NaN
Wild Bunch, The (1969)                                               NaN
Wild Things (1998)                                                   NaN
Wild Wild West (1999)                                                NaN
William Shakespeare's Romeo and Juliet (1996)                        NaN
Willow (1988)                                                        NaN
Willy Wonka and the Chocolate Factory (1971)                         NaN
Witness (1985)                                                       NaN
Wizard of Oz, The (1939)                                             NaN
Wolf (1994)                                                          NaN
Women on the Verge of a Nervous Breakdown (1988)                     NaN
Wonder Boys (2000)                                                   NaN
Working Girl (1988)                                                  NaN
World Is Not Enough, The (1999)                                      NaN
Wrong Trousers, The (1993)                                           NaN
Wyatt Earp (1994)                                                    NaN
X-Files: Fight the Future, The (1998)                                NaN
X-Men (2000)                                                         NaN
Year of Living Dangerously (1982)                                    NaN
Yellow Submarine (1968)                                              NaN
You've Got Mail (1998)                                               NaN
Young Frankenstein (1974)                                            NaN
Young Guns (1988)                                                    NaN
Young Guns II (1990)                                                 NaN
Young Sherlock Holmes (1985)                                         NaN
Zero Effect (1998)                                                   NaN
eXistenZ (1999)                                                      NaN
Name: rating, dtype: float64

In [17]:
top_female_ratings = mean_ratings.sort_values('F', ascending=False)

ValueError: No axis named F for object type <class 'pandas.core.series.Series'>

In [20]:
mean_rating['diff'] = mean_ratings['M'] - mean_ratings['F']

KeyError: 'M'